<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
{% if message %}
<p>{{ message }}</p>
{% endif %}

<form action="" method="post">
    <p>
        <label for="id_number">Id------</label>
        <input type="text" name="id_number">
    </p>
    <p>
        <input type="submit" value="Delete">
    </p>
</form>
<div class="btn-group" style="width:100%">
    <button onclick="location.href='http://9306143f293c.ngrok.io'" style="width:10%">To the beginning</button>
</div>
</body>
</html>